<div id="wrapper" class="main-page">
  <acme-navbar creation-date="main.creationDate"></acme-navbar>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <div class="estates-container">
              <!-- Search header -->
              <header class="sidebar-search">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search..." ng-model="main.keyword">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="main.search()">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </header>

              <div class="list-group row">
                <div class="col-md-12 list-group-item estate" ng-repeat="estate in main.data" ng-click="main.viewDetail(estate.id)">
                  <img class="col-md-5 estate-avatar" ng-src="{{ estate.images.split('||')[0] }}" alt="{{ estate.title }}" />
                  <div class="col-md-7 estate-details">
                    <h4>
                      {{ estate.title }}
                    </h4>
                    <p>
                      {{ estate.price | currency }}
                    </p>
                    <p>
                      {{ estate.created_date }}
                    </p>
                    <!-- <button class="btn btn-primary" ng-click="main.viewDetail(estate.id)">View Details</button> -->
                  </div>
                </div>
              </div>
              <div class="footer">
              </div>
            </div>
          </div>
          <div class="col-md-7" style="margin-top: 15px;">
            <ui-gmap-google-map center="main.map.center" zoom="main.map.zoom" options="main.options">
            <ui-gmap-marker ng-repeat="estate in main.data" coords="estate.address" idkey="estate.id">
            </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>